/* lab4-styles.css */


body {
  background-color: #f5f7fb; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}


h1 {
  color: #6a1b9a; 
  text-align: center;
}


p {
  color: #333333; 
  padding: 10px;
}


li {
  color: #0b7285; 
}


a {
  color: blue;
}

a:hover {
  text-decoration: none; 
}


.styled-box {
  border: 2px solid #444444; 
  background-color: lightgray;
  padding: 15px;
  text-align: center;
}